<nav class="navbar navbar-expand px-5"  style="background-color: #063d64;">
  <a class="navbar-brand" href="#"><img src="../../../assets/cart.png" width="70px"/></a>

  <div class="collapse navbar-collapse px-5">
    <ul class="navbar-nav font-weight-bold h5">
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Products</a>
      </li>
    </ul>
  </div>

  <div class="navbar-text text-white">
    <div class="d-flex flex-row">
      <img src="../../../assets/profile.png" alt="User Photo" class="profile-photo bg-white p-1 m-2">
      <div class="ml-2 p-2">
        <div class="user-name">Ricardo Rocker</div>
        <div class="user-role">Admin</div>
      </div>
    </div>
  </div>
</nav>
