<div class="body">
  <div *ngFor="let item of items$ | async">
    <div class="row d-flex align-items-center">
      <div class="col-3 pl-5">
        <button class="btn trash" (click)="cart.removeProduct(item.product, true)">
          <img src="../../../assets/trash.svg" width="16px" alt="" srcset="">
        </button>
      </div>
      <div class="col-6">{{ item.amount }} x {{ item.product.name }}</div>
      <div class="col-3 font-weight-bold text-dark">{{ item.subtotal }}€</div>
    </div>
  </div>
</div>

<div class="text-center p-4 mt-2">
  <span class="text-black-50 h5 m-0">
    Total
  </span>
  <span class="font-weight-bold m-0" style="font-size: 24px;">
    {{ total$ | async }}€
  </span>
  <hr class="m-0" />
  <button class="btn btn-warning w-100 mt-3 text-white font-weight-bold">Checkout</button>
</div>
